<div class="shopify-section">
    <div class="container-indent">
        <div class="container container-fluid-custom-mobile-padding popular-products">
            <div class="tt-block-title tt-block-title-recipe">
                {% if colored_title != blank %}
                <h2 class="colored-title popular-products-title">{{ colored_title }}</h2>
                {% endif %}
                {% if second_title != blank %}
                <h2 class="second-title">{{ second_title }}</h2>
                {% endif %}
            </div>
            <div class="v-product-list tt-carousel-products row arrow-location-right-top tt-alignment-img tt-layout-product-item">
                {%- for article in blogs.rezepte.articles limit: 12 -%}
                    <div class="col-2 col-md-4 col-lg-3">{%- include 'recipe-grid-item' -%}</div>
                {%- endfor -%}
            </div>
        </div>
    </div>
</div>

<style>
    .tt-block-title-recipe {
        padding-bottom: 0 !important;
    }
</style>