div.one__click__popup__modal__2e7xReB2RZg7MQxxk1WsJu .ocp__modal__container__3nLT3c-7Tn4_d5ai7J7WWB {
    padding: 20px !important;
    max-width: 350px !important;
    transform: none !important;
    -webkit-transform: none !important;
}
div.one__click__popup__modal__2e7xReB2RZg7MQxxk1WsJu .ocp__modal__logo__3viU0v5KvvghHs2Wnu5dO- {
    margin: 0 !important;
}
div.one__click__popup__modal__2e7xReB2RZg7MQxxk1WsJu .ocp__modal__title__2rglc3noXWTQcsG-VhiXsG {
    margin: 0 !important;
}
div.one__click__popup__modal__2e7xReB2RZg7MQxxk1WsJu .ocp__modal__content__Lrvnp7ZhcveSd_iJXPQst {
    padding-bottom: 10px !important;
}
div.one__click__popup__modal__2e7xReB2RZg7MQxxk1WsJu .ocp__modal__header__1I51HAv7P2O7AKVS2aNv8o {
    margin-right: -15px !important;
}
div.one__click__popup__modal__2e7xReB2RZg7MQxxk1WsJu .ocp__modal__btn__XJPJfr0EXQsYdmolbgI95 {
    margin: 0 !important;
    margin-top: -10px !important;
}
div.one__click__popup__modal__2e7xReB2RZg7MQxxk1WsJu .ocp__modal__slide__YfOjw6sHPczxhyKxC7tam .ocp__modal__container__3nLT3c-7Tn4_d5ai7J7WWB, div.one__click__popup__modal__2e7xReB2RZg7MQxxk1WsJu .ocp__modal__slide__YfOjw6sHPczxhyKxC7tam .ocp__modal__overlay__Y4kzYNKpj01Qz8v4z11pT {
    will-change: auto !important;
}
div.one__click__popup__modal__2e7xReB2RZg7MQxxk1WsJu .ocp__modal__body__2-J5uN6oLwNy5ZOqmuoFpu {
    margin: 0 !important;
}