<div class="container-indent">
    <div class="container container-fluid-custom-mobile-padding fragen-antworten">
        {% comment %}
        {{ page.content }}
        {% endcomment %}
        <div data-reamaze-embed="kb"></div>
    </div>
</div>