<div class="container hidden-product">
    <h3>Wolltest du Schlawiner ein Gratisprodukt abstauben?</h3>
    <p>Netter Versuch! Gratulation, dass du es so weit geschafft hast. Versuche doch, deinen Warenkorbwert so weit zu eröhen bis
    sich das Geschenk automatisch hinzufügt. Es lohnt sich!</p>
    <a class="btn" href="/">Jetzt weitershoppen</a>
</div>

<style>
    .hidden-product {
        align-items: center;
        text-align: center;
    }
</style>